<div class="remodal" data-remodal-id="{{modalId}}">
  <button data-remodal-action="close" class="remodal-close"></button>
  <div class="image-uploader">
	  <div class="image-uploader__title">Photo Uploader</div>
	  <div class="image-uploader__drag-box">
	  	<div class="image-uploader__drag-box__inner">
	  		<div class="image-uploader__drag-box__icon-wrapper">
	  			<i class="image-uploader__drag-box__icon"></i>
	  			Drag photo to upload
	  		</div>
	  	</div>
	  </div>
	  <!--p>
	    Select your file

	  </p-->
	  <!--button data-remodal-action="cancel" class="remodal-cancel">Close</button-->
	  <a class="image-uploader__btn--choose-file">Choose file
	  	<input class="image-uploader__file-chooser" type="file" name="{{fileInputName}}" >
	  </a>
	  <button data-remodal-action="confirm" class="remodal-confirm image-uploader__btn--save">Save</button>
  </div>
</div>
