// Font Variables
$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;

// Uploader custom variables
$photo-uploader-font-stack: $open-sans !default;
$photo-uploader-btn-choose-file-color: #2ecc71 !default;
$photo-uploader-btn-choose-file-hover-color: #27ae60 !default;
$photo-uploader-btn-save-color: #3498db !default;
$photo-uploader-btn-save-hover-color: #2980b9 !default;
$photo-uploader-max-width: 500px;
